/* programacao.css */

/* Estilos gerais */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

#navMenu.open {
    display: block;
}

main {
    flex-grow: 1;
    margin-left: 220px;
    padding: 20px;
}

#dateSelector {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

#movieList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 200px); /* Ajuste conforme necessário */
    overflow-y: auto;
}

.movie-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.final {
    font-size: 0.8rem;
}

/* Estilos específicos para telas menores */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }

    #toggleMenu {
        display: block;
    }

    nav {
        width: 100%;
        height: auto;
        position: static;
        display: none;
    }

    main {
        margin-left: 0;
        padding: 20px;
    }

    footer {
        position: static;
        margin-top: 20px;
    }

    nav.open {
        display: block;
    }
}
